body, html {
    width: 100%;
    min-width: 768px;
    /* height: 100%; */
    color: blanchedalmond;
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(to bottom right, rgb(51, 22, 51), rgb(136, 117, 136)    );
    font-family: 'Special Elite', cursive;
}

.container-fluid  {
    /* padding: 0%;
    margin: 0%; */
}

.row{
    /* background-color: rgb(95, 178, 216); */
}


.app{
    /* background-color: orange; */
    width: 100%;
}

.header{
    /* background-color: rgb(51, 22, 51); */
    height: 90px;
}

.headerTitle{
    font-size: 2em;
    color: blanchedalmond;
}

.main {
    /* background-color: green; */
}


.mainContentToggle{
    padding: 0%;
}

.mainContentFluidContainer{
    width: 100%;
}

.rowTabs{
}

.tab-item{
    color: rgb(56, 56, 82);
    background-color: yellowgreen;
    font-size: 1.5em;
    padding: 20px 0%;
}

.rowMainContent{
    min-height: 800px;
    font-size: 1.5em;
    padding: 5%;
}

.tabItem:hover {
    background: #e0e0e0;
  }


#home img{
    width: 480px;
    height: 300px;

    /* height: 50%; */
    padding-top: 5%;
}





#mymap{
    height: 60%;
    width: 70%;
}


.footer{
    color: rgb(56, 56, 82);
    background-color: yellowgreen;
}





